extends base

block content
    img(src="/"+notice.image,width="100px",height="100px")
    p=notice.description
    small=notice.user
    br
    small rating : #{notice.meta.rating}
    br
    small views : #{notice.meta.views}
    hr
    a(href=`${notice.id}/edit`) Edit notice &rarr;
    br
    a(href=`${notice.id}/delete`) Delte notice &rarr;